body {
    padding: 0;
    margin: 0;
    font-family: helvetica;
}

.jumbotron {
    background: #ff1024;
    box-shadow: 1px 1px 2px 3px #ccc;
}
.back-btn {
    position: absolute;
    margin-left: 40px;
    float: left;
}
.back-btn i {
    font-size: 40px;
    transition: all 0.5s;
}
.back-btn i:hover {
    color: #1d1d1d;
    cursor: pointer;
}
.formula {
    margin-left: -100px;
    text-align: center;
}
.formula2 {
    margin-top: 60px;
    margin-left: -10px;
    text-align: center;
}
.derivation {
    margin-top: 50px;
}
.inline {
    display: inline;
}
.header {
    color: #ffffff;
    text-align: center;
}
.header a {
    color: #ffffff;
}
.header h2 {
    letter-spacing: 1px;
    font-weight: 600;
}
.underline {
    width: 50px;
    text-decoration: underline;
}
.num {
    margin-bottom: -40px;
    margin-left: 40px;
}
.deno {
    margin-top: -10px;
    margin-left: 40px;
}
.deno2 {
    margin-top: -8px;
    margin-left: 230px;
}
.num2 {
    margin-top: -70px;
    margin-left: 230px;
}
.numLine {
    margin-top: -28px;
    margin-left: 230px;
}
.num3 {
    margin-top: -60px;
    margin-left: 390px;
}

.num4 {
    margin-bottom: -40px;
    margin-left: 55px;
}
.deno4 {
    margin-top: -10px;
    margin-left: 55px;
}

.about-company h2 {
    letter-spacing: 1px;
    font-weight: 800;
}
.made-by {
    font-size: 17px;
    font-weight: 400;
    margin: 0 15px 15px 0;
}
.footer {
    margin-top: 50px;
    padding: 50px;
    background: #1d1d1d;
    color: white;
}
.footer .links ul {
    list-style-type: none;
}
.footer .links li a {
    color: white;
    transition: color 0.2s;
}
.footer .links li a:hover {
    text-decoration: none;
    color: #4180cb;
}
.footer .about-company i {
    font-size: 25px;
    margin-right: 10px;
}
.footer .about-company a {
    color: white;
    transition: color 0.2s;
}
.footer .about-company a:hover {
    color: #4180cb;
}
.footer .location {
    margin-top: 20px;
}
.footer .location a {
    text-decoration: none;
    color: #ffffff;
}
.footer .location i {
    font-size: 18px;
    padding: 5px;
}
.footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 768px) {
    .header h2 {
        margin-left: 40px !important;
        font-size: 20px !important;
    }
    .back-btn {
        margin-top: -5px !important;
        margin-left: 20px !important;
    }
    .back-btn i {
        font-size: 30px !important;
    }
}
